html {
  scroll-behavior: smooth;
}

body {
  background: rgb(40, 40, 40);
  background-image: url("../images/hexa-wall-8-lux.jpg");
}

#navbar {
  background-color: rgb(52, 58, 64, 0);
}

h2 {
  font-weight: 300;
  letter-spacing: 2pt;
}

h3 {
  letter-spacing: 4pt;
}

.navbar {
  background-color: rgb(52, 58, 64, 0.95);
  border-bottom: rgb(27, 27, 27, 0.4);
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.a-font {
  font-family: "Helvetica Neue", sans-serif, "Courier New", Courier, monospace;
}

#header a:hover {
  color: rgb(21, 194, 90);
}

.navbar-dark .navbar-nav .nav-link.active {
  color: rgb(13, 179, 93);
}

#web-dev {
  letter-spacing: 5px;
  font-size: smaller;
}

.bg-success {
  margin-bottom: 6px;
}

.project-row {
  margin-top: 16px;
  margin-bottom: 16px;
}

#bg-img {
  background: url("../images/romaintrystram.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
  background-color: rgb(52, 58, 64, 0.95);
  border-bottom: rgb(27, 27, 27, 0.8);
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

td {
  color: rgb(29, 181, 90);
}

.card {
  color: honeydew;
  background-color: rgb(19, 29, 29, 0.9);
  border-style: groove;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  position: relative;
}

.card-footer {
  background-color: rgba(117, 44, 212, 0.4);
  /* opacity: 0.5; */
}

#about {
  margin-top: -375px;
}

#about .fa {
  color: #0f8d42;
}

#about .fa:hover {
  color: rgb(21, 194, 90);
}

#about span {
  /* top,left,bottom,right */
  padding: 10px 20px 10px 20px;
}

#about p {
  padding: 10px 20px 10px 20px;
}

#about .bio {
  background-color: rgb(19, 29, 29);
  border-style: groove;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-top-color: #d03e54; /* matched bootstrap danger red*/
  border-radius: 10px;
  color: honeydew;
  margin-top: 5px;
}

#gitlink {
  color: rgb(139, 28, 237);
}

#skills span {
  /* top,left,bottom,right */
  padding: 10px 20px 10px 20px;
}

.skills {
  background-color: rgb(19, 29, 29);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-top-color: #0275d8; /* matched bootstrap primary blue*/
  border-radius: 5px;
  color: honeydew;
  margin-top: 5px;
}

#projects span {
  /* top,left,bottom,right */
  padding: 10px 20px 10px 20px;
}

#projects hr {
  border-width: 2px;
  margin-top: 6px;
}

#projects .card {
  background-color: rgb(19, 29, 29);
  border-top: 3px solid rgb(150, 48, 218);
}

#contact span {
  /* top,left,bottom,right */
  padding: 10px 20px 10px 20px;
  background-color: rgb(255, 111, 0);
}

#contact {
  margin-bottom: 38px;
}

#forms {
  padding: 20px 20px 10px 20px;
  background-color: rgb(19, 29, 29);
  border-style: groove;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-top-color: rgb(255, 111, 0);
  color: honeydew;
  margin-top: 5px;
}

.form-control {
  background-color: rgb(119, 130, 130);
  border-color: rgb(0, 0, 0);
}

.project-thumbnail {
  border-radius: 2%;
}

#copyright {
  color: #0f8d42;
}

.skill-thumbnail {
  width: 200px;
}

#submit-button {
  background-color: rgb(255, 111, 0);
}

a:hover {
  color: rgb(21, 194, 90);
  text-decoration: none;
}

.external-link {
  color: aliceblue;
}

.external-link :hover {
  color: #0f8d42;
}

.web-dev {
  font-size: 8pt;
  letter-spacing: 9pt;
  text-align: center;
}
