body {
  background: #ccc;
}

#header a:hover {
  color: white;
}

#bg-img {
  background: url("../images/romaintrystram.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}

.fa {
  color: white;
}

#about {
  margin-top: -200px;
}

#about span {
  padding: 10px 20px 10px 20px;
}

#about hr {
  border-width: 3px;
  margin-top: 06px;
}

#skillset span {
  padding: 10px 20px 10px 20px;
}

#skillset hr {
  border-width: 3px;
  margin-top: 06px;
}

#projects span {
  padding: 10px 20px 10px 20px;
}

#projects hr {
  border-width: 3px;
  margin-top: 06px;
}

#projects .card {
  border-top: 3px solid indigo;
}
