body {
  background: #ccc;
}

#header a:hover {
  color: white;
}

#bg-img {
  background: url("../images/romaintrystram.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}
